<% if(token) { %> <%- include("userprofile/headermember.ejs") %> <% } 
 else { %> <%- include("header.ejs") %> <% } %>

 <form action="" method="post">
    <% user.wishlist.forEach( candy=>{ %>
 
   <div> <%=candy.candyId.name %></div>
   <div> <%= candy.candyId.price %></div>
   
   <% }) %>
 
        
    <button id="btn" type="submit">Buy</button>
 
 </form>
 <script src="https://js.stripe.com/v3/"></script>
 <script>
 
     var stripe = Stripe('pk_test_A2oVAYeEL3rNVfN4NvXOe0Di00Gij2gWOJ');
     document.querySelector("#btn").addEventListener("click", ()=>{
         stripe.redirectToCheckout({
             sessionId: "<%=sessionId%>"
         })
     })
 </script>
 

<%- include("footer.ejs") %>