<% if(token) { %> <%- include("userprofile/headermember.ejs") %> <% } 
 else { %> <%- include("header.ejs") %> <% } %> 

<body>
    <!-- Product header and image -->
    <div class="container-fluid" id="one-product-container">
        <canvas class="oneProductHeader"
            style="background-color: <%= selectedCandy.color %>; background-image: linear-gradient(to top left, <%= selectedCandy.color %> , white 99%);">
        </canvas>
        <div class="row lakritsMainDiv">
            <img class="lakritsImg" src="<%= selectedCandy.img %>">
        </div>
        <!-- Product title, price and description -->
        <div class="row oneProductInfo m-0">
            <div class="oneProductTitle col-sm-12 col-md-6 col-lg-6">
                <h2><%= selectedCandy.name %></h2> <br>
                <span><%= selectedCandy.price %> kr</span>
                <div class="row oneProductBtn">
                    <button type="button" class="btn btn-outline-dark">Lägg till</button>
                    <div class="iconDiv">
                        <a href="/wishlist/<%=selectedCandy._id %>" class="heart"><i class="far fa-heart fa-2x"
                                style="color: black;"></i></a>
                    </div>
                </div>
            </div>
            <div class="oneProductDescription col-sm-12 col-md-6 col-lg-6">
                <p><%= selectedCandy.description %></p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("a").click(function () {
                $(".far").css("color", "red");
            });
        }); 
    </script>
    <%- include("footer.ejs") %>
</body>