<% if(token) { %> <%- include("headermember.ejs") %> <% } 
 else { %> <%- include("header.ejs") %> <% } %>

<div class="container thecontainer">
    <div class="row justify-content-center py-3"></div>

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-9 text-center">
            <!-- <h3 class="my-page-title">Mina sidor</h3> -->

            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-9 text-center"> <br>
                    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Din önskelista</h5><br>

                    <% if(user.wishlist < 1){ %>
                    <p>Din önskelista är tom</p>
                    <% } %>

                    <ul>
                        <% user.wishlist.forEach( (candy)=>{ %>
                        <li>
                            <%= candy.candyId.name %> <br>
                            <p><%= candy.candyId.price %> kr </p>
                            <div> <img src="<%= candy.candyId.img %>" alt="Bild på lakrits" class="hover wishlistImg"></div>
                        </li>
                        <a href="/deleteWishlist/<%= candy.candyId._id%>"><button style="margin-top: 10px;" type="button" class="btn btn-outline-dark">Ta bort från listan</button></a> <br><br>
                        <% } ) %>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-3 border-left border-right sidebar-mypage">
                    <h6><a href="/mypage">Mina uppgifter</a></h6>
                    <h6><a href="/wishlist">Min önskelista</a></h6>
                    <h6><a href="/deleteuser">Avsluta medlemskap</a></h6>
                    <h6><%- include("logout.ejs") %></h6>
                </div>

            </div>

        </div>
    </div>
</div>
<%- include("../public/footer.ejs") %>
